* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    text-transform: uppercase;
    background-color: #e4e4e4;
    background-image: linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
    background-image: -webkit-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
    background-image: -ms-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #a7a7a7), color-stop(.51, #e4e4e4));
    background-attachment: fixed;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
}


/* Portrait layout (default) */

.app {
    position: absolute;
    /* position in the center of the screen */
    top: 50%;
    left: 50%;
    width: 225px;
    /* text area width */
    height: 50px;
    /* text area height */
    margin: -115px 0 0 -112px;
    /* offset vertical: half of image height and text area height */
    padding: 180px 0 0 0;
    /* image height is 200px (bottom 20px are overlapped with text) */
    text-align: center;
    background: url(../img/black-scale-256_compressed.png) no-repeat center top;
    /* 170px x 200px */
    /* offset horizontal: half of text area width */
}


/* Landscape layout (with min-width) */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        margin: -90px 0 0 -198px;
        /* offset vertical: half of image height */
        padding: 75px 0 75px 170px;
        /* padding-top + padding-bottom + text area = image height */
        background-position: left center;
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    overflow: visible;
    margin: 0;
    padding: 0;
    text-align: center;
}

.event {
    font-size: 12px;
    margin: 0 30px;
    padding: 2px 0;
    color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.event.listening {
    display: block;
    background-color: #333;
}

.event.received {
    display: none;
    background-color: #4b946a;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: .4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: .4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    -webkit-animation: fade 3000ms infinite;
    animation: fade 3000ms infinite;
}


/* ----- Meu CSS ----- */

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    /* IE 10+ */
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}


/* ----- Fim Meu CSS ----- */
